<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>Merchandise Store</title>
        <div class = "header">
            <marquee scrollamount="40">
                <h1 style="font-family:verdana">Product List</h1>
            </marquee>
        </div>
        <style>
            .header {
                width: 100%;
                background-color: black;
                border-style: dotted;
                color: white;
            }   

            .body {
                font-family: "verdana"
            }
        </style>
    </head>
    <body>
        <div class="body">
            <ul>
                {% for profile in object_list %}
                    {% if profile.transactions.count != 0 %}
                        <h1>{{ profile.display_name }}</h1>
                        {% for transaction in profile.transactions.all %}
                            {% if transaction.buyer == user.profile %}
                            <li>
                                <div>
                                    <h3>{{ transaction.product }}</h3>
                                    <ul>
                                        <li>Amount: {{ transaction.amount }}</li>
                                        <li>Status: {{ transaction.status }}</li>
                                        <li>Created on: {{ transaction.createdOn }}</li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </body>
</html>