<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>Merchandise Store</title>
        <style>
            .body {
                font-family: "verdana"
            }
        </style>
    </head>
    <body>
        <div class="body">
            <h1>Update Product</h1>
            <a href="{% url 'merchstore:item_detail' object.pk %}">Back to Product</a>
            <hr />
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update" />
            </form>
        </div>
    </body>
</html>