<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>Merchandise Store</title>
        <div class = "header">
            <marquee scrollamount="40">
                <h1 style="font-family:verdana">Product Creation</h1>
            </marquee>
        </div>
        <style>
            .header {
                width: 100%;
                background-color: black;
                border-style: dotted;
                color: white;
            }   

            .body {
                font-family: "verdana"
            }
        </style>
    </head>
    <body>
        <div class = "body">
            <h3>Product Type</h3>
            <hr />
            <a href="{% url 'merchstore:item_list' %}">Back to Products</a>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create Product" />
        </form>
</html>