<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>Merchandise Store</title>
        <div class = "header">
            <marquee scrollamount="40">
                <h1 style="font-family:verdana">Product Update</h1>
            </marquee>
        </div>
        <style>
            .header {
                width: 100%;
                background-color: black;
                border-style: dotted;
                color: white;
            }   

            .body {
                font-family: "verdana"
            }
        </style>
    </head>
    <body>
        <div class="body">
            <h1>Update Profile</h1>
            <hr />
        <a href="{% url 'merchstore:item_detail' object.pk %}">Back to Product</a>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update" />
        </form>
    </body>
</html>