{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>Merchandise Store</title>
    </head>
    <body>
        <h1>Product List</h1>
        <ul>
            {% for product in object_list %}
                <li><a href="{% url 'merchstore:item_detail' pk=product.pk %}">{{ product.name }}</a></li>
            {% empty %}
                <li>No products found.</li>
            {% endfor %}
        </ul>
    </body>
</html>

{% endblock %}