<!DOCTYPE html>
<html lang="en-US">
<html>
    <head>
        <title>Product Create</title>
    </head>
    <body>
        <h1>Product Creation</h1>
        <b>Product Type:</b>
        <select name="product_type" id="product_type">
            <option value=""></option>
        </select>
        <br>
        <b>Status:</b>
        <select name="status" id="status">
            <option value="available">Available</option>
            <option value="on sale">On sale</option>
            <option value="out of stock">Out of stock</option>
        </select>
        <br>
        <button type="submit">Create</button>
    </body>
</html>