{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% if article.header_image %}
    <img src="{{ article.header_image.url }}" alt="{{ article.title }}">
{% endif %}

<h1><span style="background-color: #E6E6FA">⋆˚࿔  {{ article.title }}  𝜗𝜚˚⋆</span></h1>
<p>by {{ article.author.user }}</p>
<p>✤ Category: {{ article.category }}</p>
<p>✤ Created on: {{ article.created_on }}</p>
<p><i>✤ Entry:</i></p>
<p>{{ article.entry }}</p>
<p>* Last updated: {{ article.updated_on }}</p>


{% if request.user.is_authenticated %}
    {% if article.author.user == request.user %}
        <p><a href="{% url 'blog:article_update' pk=article.pk %}">Edit this article</a></p>
    {% endif %}
{% endif %}

<p>
    <h2>Comments</h2>
    <form method="post" action="{% url 'blog:article_details' article.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Submit</button></p>
    </form>
</p>

<h3>Other articles by {{article.author.user}}: </h3>
{% for art in articles %}
    {% if art.author.user == request.user %}
        {% if article.title != art.title %}
            <li><a href="{% url 'blog:article_details' pk=article.pk %}">{{ art.title }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}


<p><a href="/blog/articles/">< Back</a></p>


{% endblock %}