{% extends 'blog/base.html' %}
{% load static %}

{% block entry %}

{% if article.header_image %}
    <img src="{{ article.header_image.url }}" alt="{{ article.title }}">
{% endif %}

<section class="article-details">
<span style="background-color: #E6E6FA"><h1>⋆˚࿔  {{ article.title }}  𝜗𝜚˚⋆</h1></span>
    <p><b><i>by {{ article.author.user }}</i></b></p><br>
<p>✤ Category: {{ article.category }}</p>
<p>✤ Created on: {{ article.created_on }}</p>
<p><i>✤ Entry:</i></p><br>
<span class="article-entry"><p>{{ article.entry }}</p></span><br>
<p>* Last updated: {{ article.updated_on }}</p><br>
</section>

{% if request.user.is_authenticated %}
    {% if article.author.user == request.user %}
        <p><a href="{% url 'blog:article_update' pk=article.pk %}">Edit this article</a></p>
    {% endif %}
{% endif %}

<section class="comments-form">
<p>
{% if request.user.is_authenticated %}
    <h2>Comments</h2>
    <form method="post" action="{% url 'blog:article_details' article.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p}}
        <p><button type="submit">Submit</button></p>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log-in</a> to add comments.</p>
{% endif %}
</p>
</section>
<br>
<section class="existing-comments">
    <p>
    {% if comments %}
    <ul>
        {% for comment in comments %}
        {% if comment.article == article %}
            <li>
                <span class="comment-author"><i>{{ comment.author.user }}</i></span>:
                <span class="comment-entry"><b>{{ comment.entry }}</b></span>
                <span class="comment-time"><br>Created on: {{ comment.created_on }}</span>
            </li>
        {% endif%}
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-comments">No comments yet.</p>
    {% endif %}
</p>
</section>
<br>
<section class="other-articles-by">
<h3>Other articles by {{article.author.user}}: </h3>
{% for art in articles %}
    {% if art.author.user == request.user %}
        {% if article.title != art.title %}
            <li><a href="{% url 'blog:article_details' pk=article.pk %}">{{ art.title }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
</section><br>

<p><a href="/blog/articles/"> Back</a></p>


{% endblock %}