{% extends 'blog/base.html' %}

{% block content %}
    {{ object.header_image }}
    <h1><span style="background-color: #E6E6FA">⋆˚࿔  {{ object.title }}  𝜗𝜚˚⋆</span></h1>
    <p>✤ Category: {{ object.category }}</p>
    <p>✤ Created on: {{ object.created_on }}</p>
    <p><i>✤ Entry:</i></p>
    <p>{{ object.entry }}</p>
    <p>* Last updated: {{ object.updated_on }}</p>

{% if request.user.is_authenticated %}
    #edit/update view
{% endif %}

{% for article in object_list %}
    {% if object.author = article.author %}
        <li><a href="{% url 'blog:article_details' pk=article.pk %}">{{ article.title }}</a></li>
    {% endif %}
{% endfor %}

#comments
{{ comments }}

{% if request.user.is_authenticated %}
    #comment form
{% endif %}

<a href="/blog/articles/">< Back</a>


{% endblock %}
