


{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% load static %}


{% block content %}

<body>

    <!-- commission_detail.html -->
    <div class="commissions-header">
        <h1>Commission Detail</h1>

        <div class="commissions-create-button">

        <a href="{% url 'commissions:commission_update' pk=commission.pk %}">Update commission</a>
        </div>
    </div>
    <div class="commission">
        <a class="commission-name" href="{% url 'commissions:commission_detail' commission.pk %}">{{ commission.title }}</a>
    
        <p>Submitted by <strong>{{commission.author}}</strong></p><br>
        <div class="commission-details">
            <p><span class="commission-label">Description: </span>{{ commission.description }}</p>
        </div>
    
        <div class="commission-stats">
            <p><span class="commission-label stat">Updated On: </span>{{ commission.updated_on }}</p>
            <p><span class="commission-label stat">Created On: </span>{{ commission.created_on }}</p>
        </div>

    </div>

    <ul class='comments-section'>
        <h2>Comments</h2>
        {% for comment in commission.comment_set.all %}
            <li class='comment'>
                <p>{{ comment.entry }}</p>

                <div class="comment-stats">

                    <p class="comment-stat"><span class="comment-label">Created On: </span>{{ comment.created_on }}</p>
                    <p class="comment-stat"><span class="comment-label">Updated On: </span>{{ comment.updated_on }}</p>
                </div>
            </li>
        {% empty %}
            <li class="no-comment">No comments available.</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
