


{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% load static %}


{% block content %}

<body>
    <!-- commission_detail.html -->
    <div class="commissions-header">
        <h1>Commission Detail</h1>

        {% if user.is_authenticated %}

        <div class="commissions-create-button">

        <a href="{% url 'commissions:commission_update' pk=commission.pk %}">Update commission</a>
        </div>

        {% endif %}
    </div>
    <div class="commission">
        <a class="commission-name" href="{% url 'commissions:commission_detail' commission.pk %}">{{ commission.title }}</a>
    
        <p>Submitted by <strong>{{commission.author}}</strong></p><br>
        <div class="commission-details">
            <p><span class="commission-label">Description: </span>{{ commission.description }}</p>
        </div>
    
        <div class="commission-stats">
            <p><span class="commission-label stat">Updated On: </span>{{ commission.updated_on }}</p>
            <p><span class="commission-label stat">Created On: </span>{{ commission.created_on }}</p>
        </div>

    </div>

    <h2>Available Jobs</h2>

    <div class="commission-jobs">

        {% for job in jobs %}
            {% if job.commission.pk == commission.pk %}

            <div class="commission-job">
                <div class="job-information">
                    <h3>{{job.role}}</h3>
                    <p>Manpower Required: {{job.manpower_required}} persons</p>
                    <p>Status: {{job.status}}</p>
                </div>

                {% if user.is_authenticated %}
                <div class="commissions-create-button">
                    <a href="{% url 'commissions:commission_update' pk=commission.pk %}">Apply</a>
                </div>
                {% endif %}

            </div>
            <hr>
            {% endif %}
        {% endfor %}
    </div>
</body>
{% endblock %}
